@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
    font-family: 'Vina Sans';
    src: url('fonts/VinaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Limelight';
    src: url('fonts//Limelight-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@tailwind utilities;